<header>
<nav>
  <ul class="Navbar">
   <li>
    <%= link_to "Home", root_path %>
   </li>
      <li>
    <%= link_to "Projects", projects_path %>
   </li>
   <li>
    <%= link_to "skills", skills_path %>
   </li>
    <li>
    <%= link_to "contact", contact_path %>
   </li>
  </ul>
</nav>
</header>